body {
  font-family: Helvetica;
}

h1 {
  color: #155c2c;
}

button {
  background-color: #d3e9bf;
  margin-right: 5px;
  border-color: #abb8c3;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 1rem;
}

table { 
  border-collapse: collapse
}

th {
  background-color: #ffdeb4;
  font-weight: normal;
}

th, td {
  border: 2px solid gray;
  text-align: center;
  padding: 5px 20px;
}
